name: CI

# Controls when the workflow will run
on:
  push:
    branches: [main]

  # to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
      - name: Fetch LFS objects
        run: |
          git lfs install
          git lfs fetch --all
          git lfs checkout
      - name: Add remote
        env:
          HF: ${{ secrets.HG }}
        run: git remote add space https://huggingface.co/spaces/Ghaithhmz/SSFT_Audit_Report_generator
      - name: Push to hub
        env:
          HF: ${{ secrets.HG }}
        run: |  
          git lfs install
          git push --force https://Ghaithhmz:${HF}@huggingface.co/spaces/Ghaithhmz/SSFT_Audit_Report_generator main
